// Configuración inicial de Bootstrap
@use 'bootstrap/scss/bootstrap' with (
  $body-bg: null,
  $body-color: null
);

// Estilos globales
body {
  padding-bottom: 2rem;
}

.table {
  th, td {
    vertical-align: middle;
  }
}

.text-success {
  color: bootstrap.$green !important;
}

.text-danger {
  color: bootstrap.$red !important;
}